nav {
  background: #f7f7f7;
  padding: 0px 20px;

  @media (min-width: 800px) {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 230px;
    padding: 0 0 20px 0;
  }
}

nav > ul {
  padding: 20px 0;

  li {
    list-style: none;
    font-size: 15px;
  }

  > li {
    padding: 0px;

    > a {
      display: block;
      color: #333;
      text-decoration: none;
      font-weight: bold;
      padding: 5px 20px;

      &:hover {
        background: #eee;
      }
    }

    > ul {
      padding: 0 0 10px;

      > li {
        font-size: 14px;
        line-height: 19px;

        a {
          display: block;
          padding: 1px 10px 1px 35px;

          &:hover {
            background: #eee;
          }
        }
      }
    }
  }
}
