body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

header {
  h1 {
    font-size: 18px;
    padding: 0;
    vertical-align: middle;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .draft {
    background: #fff;
    font-size: 13px;
    padding: 1px 4px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 0 4px;
    vertical-align: middle;
  }
}

h1, h2, h3 {
  font-weight: bold;
  padding: 15px 0;
}

h1 {
  font-size: 25px;
}
h2 {
  padding-top: 30px;
  font-size: 21px;
}

p, ul {
  padding: 10px 0;
}
ul {
  padding-left: 20px;
}
li {
  padding: 0 0 3px;
  list-style: disc;

  &:last-of-type {
    padding-bottom: 0;
  }
}

a {
  color: $primary-colour;
}

em {
  font-style: italic;
}

.caption {
  font-size: 14px;
  font-weight: bold;
}
